
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Function Managerment</h3>
            </div>

            <div class="title_right">
                <div class="col-md-2 col-sm-3 col-xs-12 form-group">
                    <input type="text" id="txtSearchKeyword" class="form-control" placeholder="Tìm kiếm...">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 form-group">
                    <button class="btn btn-default" id="btn-search" type="button">Search!</button>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 form-group">
                    <button class="btn btn-success" id="btn-create" type="button">Create</button>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="tbl-product" class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Function Name</th>
                                    <th>ParentID</th>
                                    <th>Icon Css</th>
                                    <th>Thứ tự</th>
                                    <th>Trạng thái</th>
                                    <th>Url</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbl-content"></tbody>
                        </table>

                        <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                    <select id="ddl-show-page">
                                        <option value="10" selected="selected">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>
                                    <span class="item-per-page">
                                        recors/page.
                                    </span>
                                    Total records: <strong id="lbl-total-records"></strong>
                                </div>
                            </div><div class="col-sm-7">
                                <div class="dataTables_paginate" id="datatable-checkbox_paginate">
                                    <ul id="paginationUL"></ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_AddEditModal.cshtml")

        <script id="table-template" type="x-tmpl-mustache">
            <tr>
                <td>{{Id}}</td>
                <td>{{FunctionName}}</td>
                <td>{{{ParentID}}}</td>
                <td><i class="{{IconCss}}"></i></td>
                <td>{{{SortOrder}}}</td>
                <td>{{{Status}}}</td>
                <td>{{{Url}}}</td>
                <td><a style="cursor: pointer" data-id="{{Id}}" class="btn-view"><i class="fa fa-eye"></i></a></td>
            </tr>
        </script>
    </div>

@section Scripts{
    <script src="~/app/controllers/function/functionController.js"></script>
}